.idea/
.envrc
node_modules/
.DS_Store
*.map

# output
src/lib/**/*.js
src/commands/**/*.js
src/actions/**/*.js
bin/**/*.js
src/lib/**/*.d.ts
src/commands/**/*.d.ts
src/actions/**/*.d.ts
src/bin/**/*.d.ts

# configuration
renovate.json
gulpfile.js
/.vscode

# sample
/sample

yarn.lock